name: Deploying this workflow

on:
  push:
    branches:
      - dev

permissions:
  id-token: write   
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: arn:aws:iam::290158030627:role/AdministratorAccess
          aws-region: us-east-2

      - name: Sync to S3
        run: |
          aws s3 sync . s3://vishnu-resume-bucket-2026 --delete --exclude ".git/*" --exclude ".github/*" --exclude ".gitignore" --exclude "terraform/*" --exclude "README.md" --exclude "LICENSE" --exclude "*.yml" --exclude "*.tf" --exclude "*.py" --exclude "zip/*"

      - name: Invalidate CloudFront cache
        run: |
          aws cloudfront create-invalidation --distribution-id EII7GWJY28BIO --paths "/*"
